.DS_Store
trainer-works/.metadata
trainer-works/cucumber-works/.settings
trainer-works/cucumber-works/.project
trainer-works/cucumber-works/target
trainer-works/cucumber-works/test-output 
trainer-works/cucumber-works/.DS_Store


*.class

